@font-face {
    font-family: 'source';
    src: url('./fonts/sourcecodepro-variablefont_wght.ttf');
    
    font-family: 'roboto mono';
    src: url('./fonts/robotomono-variablefont_wght.ttf');
}

body{
    font-family: 'roboto mono',sans-serif;
    padding: 0;
    margin: 0;
}
h1{
    font-family: 'roboto mono',Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 20px 0px;
}
form{
    width: 40%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 10px #ccc;
}
input{
    font-family: 'roboto mono';
    width: 90%;
    padding: 5px;
    display: block;
    margin-bottom: 10px;
    border: 1px solid #bbb;
}
label{
    font-size: 15px;
    font-weight: bold;
    color: #555;
}
button{
    padding: 5px;
}
button:hover{
    background-color: #dfd;
    border: 2px solid #666;
}
h2{
    font-family: 'roboto mono',Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
}
#lista{
    width: 70%;
    margin: 10px auto;
    border: 1px solid #ddd;
}
.cabecalho{
    font-weight: 700;
    font-family: source;
    display: flex;
}
span{
    font-family: 'roboto mono';
    flex: 1;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}
.info{
    font-size: 16px;
    display: flex;
}